/* Dashboard.css */

.dashboard {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background to make content stand out */
    color: #333;
    padding: 20px;
    text-align: center;
  }
  
  form {
    background: #d9f2d9; /* Very Light Green */
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
  }
  
  input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #009933; /* Medium Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #007a00; /* Darker Green */
  }
  
  .prediction {
    font-size: 24px; /* Increase font size */
    color: #004d00; /* Dark Green color for text */
    font-weight: bold; /* Make text bold */
    margin-top: 20px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  
  
  